* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1d1e;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

span.header {
  font-family: 'Playfair Display', serif;
  position: absolute;
  display: inline-block;
  width: 500px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 2em;
  font-size: 8em;
  line-height: 1em;
}

h1.Name {
  position: absolute;
  width: 100vw;
  height: 210px;
  top: 50%;
  transform: translatey(-0.5em);

  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  display: block;
  align-items: center;
  text-align: center;

  color: #fcfaf9;
}

h2.Title {
  position: absolute;
  width: 100vw;
  height: 210px;
  top: 57.5%;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 40px;
  display: block;
  align-items: center;
  text-align: center;

  color: #fcfaf9;
}

img.ProfileImage {
  position: absolute;
  left: 50%;
  transform: translate(-50%); 
  top: 35%;
  height: 120px;
  width: 120px;
  filter: grayscale(100%);
}

h2.Tabs {
  font-family: Montserrat;
  font-size: 26px;
  color: #FCFAF9;
  padding: 0px 1vw;
  font-weight: 400;
  cursor: pointer;
}

h2.ActiveTabs {
  font-family: Montserrat;
  font-size: 26px;
  color: #FCFAF9;
  padding: 0px 1vw;
  font-weight: 900;
}

h2.TabDivider {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 26px;
  color: #FCFAF9;
  padding: 0px 1vw;
}

h3.Year {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
  padding-bottom: 4vh;
}

p.text {
  position: absolute;
  width: 80vw;
  left: 10vw;
  top: 110vh;
  display: block;
  align-items: left;
  text-align: left;
  border-radius: 20px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  padding: 10vh;

  color: #FCFAF9;
  background-color: rgba(21,21,21,0.5);
  overflow:auto;
}


div.MainContainer {
  position: absolute;
  width: 80vw;
  left: 10vw;
  top: 110vh;
  display: block;
  align-items: left;
  text-align: left;
  border-radius: 20px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  padding: 0vh 5vw;

  color: #FCFAF9;
  background-color: rgba(21,21,21,0.5);
  overflow:auto;
}

div.EntryContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  padding-bottom: 10vh;
}

div.SkillsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: auto;
  padding: 8vh;
  padding-bottom: 0vh;
}

div.OthersContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding: 8vh;
  padding-top: 2vh;
}

h3.OthersHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 24px;
  margin: 0px;
  line-height: 1.25em;
}

p.OthersDescription {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2vh;
  line-height: 1.5em;
}

h3.ProgLangHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 24px;
  margin: 0px;
  line-height: 1.25em;
}

div.ProgLangContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 5vh;
}

div.FrameworksContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 5vh;
}

div.DatabaseContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-bottom: 5vh;
}

div.DataVisualizationContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 5vh;
}

div.GameEnginesContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-bottom: 5vh;
}

div.MultimediaContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-bottom: 5vh;
}

h3.FrameworkHeader {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 24px;
  line-height: 1.25em;
  margin: 0px;
}

h3.GameEnginesHeader {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 24px;
  line-height: 1.25em;
  margin: 0px;
}

h3.MultimediaHeader {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 24px;
  line-height: 1.25em;
  margin: 0px;
}

h3.DatabaseHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 24px;
  line-height: 1.25em;
  margin: 0px;
}

h3.DataVisualizationHeader {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 24px;
  line-height: 1.25em;
  text-align: top;
  margin: 0px;
}

img.SquareLogo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 110px;
  height: 110px;
}

h3.EntryHeaderBold {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 24px;
  text-align: start;
  margin: 0px;
  line-height: 1.25em;
}

h3.EntryHeader {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 22px;
  text-align: start;
  margin: 0px;
  line-height: 1.25em;
  font-weight: 400;
  color: #bdbdbd;
  justify-content: flex-end
}

p.EntryDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2vh;
  line-height: 1.5em;
}

p.SkillsDescription {
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2vh;
  line-height: 1.5em;
}

.FadeOpacity {
  opacity: 0.15;
}

a.EntryDescriptionLink{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2vh;
  line-height: 1.5em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #CCCC9A;
}

div.EntryDescriptionCarousel {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  padding-top: 3vh;
  width: 65%;
}

.CarouselBackground {
  background: transparent;
}

img.LandscapeImage {
  display: block;
  width: 100%;
  height: auto;
}

img.PortraitImage {
  display: block;
  max-height: 50vh;
}

.CategoryTabs {
  position: absolute;
  width: 80vw;
  left: 10vw;
  top: 100vh;
  display: flex;
  justify-content: center;
}

.tabs{
  font-family: Montserrat;
  margin:0 auto;
  width:70%;
  text-align:center;
  margin-top:15vh;
}


@media only screen and (max-width: 940px) {
  h2.Tabs {
    font-family: Montserrat;
    font-size: 20px;
    color: #FCFAF9;
    padding: 0px 1vw;
    font-weight: 400;
  }

  h2.ActiveTabs {
    font-family: Montserrat;
    font-size: 20px;
    color: #FCFAF9;
    padding: 0px 1vw;
    font-weight: 900;
  }

  h2.TabDivider {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    color: #FCFAF9;
    padding: 0px 1vw;
  }
}